p {
    font-family: 'K2D';
    font-size: 22px;
}

h1 {
    font-family: 'K2D';
    font-size: 22px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ----------------------------------------- */
/* THE CSS FOR POSITIONING ITEMS ON A CIRCLE */
/* ----------------------------------------- */

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg72 { transform: rotate(72deg) translate(12em) rotate(-72deg); }
.deg144 { transform: rotate(144deg) translate(12em) rotate(-144deg); }
.deg216 { transform: rotate(216deg) translate(-12em) rotate(-216deg)}
.deg288 { transform: rotate(288deg) translate(12em) rotate(-288deg); }
.deg360 { transform: rotate(360deg) translate(12em) rotate(-360deg); }

/* ---------------------------------------------- */
/* </ THE CSS FOR POSITIONING ITEMS ON A CIRCLE > */
/* ---------------------------------------------- */

#bookschat {
    background-color: #e0f7fa;

}

#techchat {
    background-color: #f3e5f5;

}

#musicchat {
    background-color: #ffcdd2;

}

#moviechat {
    background-color: #ffecb3;

}

#sportschat {
    background-color: #b9f6ca;
}
